name: Continuous integration

on: [push, pull_request]

permissions:
  contents: read

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6.0.2

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
        with:
          # toolchain: use toolchain file if no value is provided
          cache: true

      - name: Check formatting
        run: cargo fmt --all -- --check

      - name: Run clippy
        run: >
          cargo clippy
          --all-targets
          --all-features
          --
          -Dclippy::complexity
          -Dclippy::correctness
          -Dclippy::nursery
          -Dclippy::pedantic
          -Dclippy::perf
          -Dclippy::suspicious
          -Dclippy::style

      - name: Run tests
        run: cargo test --all-targets --all-features
